<h4>Version: v0.3</h4>
<ol class='level-1'>
<li><a href='{{ site.baseurl }}/docs/v0.3/0-installation.html'>Installation</a></li>
    <ol class='level-2'>
        <li><a href='{{ site.baseurl }}/docs/v0.3/0-installation.html#running-the-generator'>Running the Generator</a></li>
        <li><a href='{{ site.baseurl }}/docs/v0.3/0-installation.html#upgrading'>Upgrading</a></li>
    </ol>
<li><a href='{{ site.baseurl }}/docs/v0.3/1-general-configuration.html'>General Configuration</a></li>
    <ol class='level-2'>
        <li><a href='{{ site.baseurl }}/docs/v0.3/1-general-configuration.html#authentication'>Authentication</a></li>
        <li><a href='{{ site.baseurl }}/docs/v0.3/1-general-configuration.html#site-title'>Site Title</a></li>
        <li><a href='{{ site.baseurl }}/docs/v0.3/1-general-configuration.html#internationalization-(i18n)'>Internationalization (I18n)</a></li>
    </ol>
<li><a href='{{ site.baseurl }}/docs/v0.3/2-resource-customization.html'>Customize The Resource</a></li>
    <ol class='level-2'>
        <li><a href='{{ site.baseurl }}/docs/v0.3/2-resource-customization.html#rename-the-resource'>Rename the Resource</a></li>
        <li><a href='{{ site.baseurl }}/docs/v0.3/2-resource-customization.html#customize-the-menu'>Customize the Menu</a></li>
        <li><a href='{{ site.baseurl }}/docs/v0.3/2-resource-customization.html#labels'>Labels</a></li>
        <li><a href='{{ site.baseurl }}/docs/v0.3/2-resource-customization.html#drop-down-menus'>Drop Down Menus</a></li>
        <li><a href='{{ site.baseurl }}/docs/v0.3/2-resource-customization.html#menu-priority'>Menu Priority</a></li>
        <li><a href='{{ site.baseurl }}/docs/v0.3/2-resource-customization.html#conditionally-showing-/-hiding-menu-items'>Conditionally Showing / Hiding Menu Items</a></li>
        <li><a href='{{ site.baseurl }}/docs/v0.3/2-resource-customization.html#scoping-the-queries'>Scoping the queries</a></li>
    </ol>
<li><a href='{{ site.baseurl }}/docs/v0.3/3-index-pages.html'>Customizing the Index Page</a></li>
    <ol class='level-2'>
        <li><a href='{{ site.baseurl }}/docs/v0.3/3-index-pages.html#index-filters'>Index Filters</a></li>
    </ol>
<li><a href='{{ site.baseurl }}/docs/v0.3/4-csv-format.html'>Customizing the CSV format</a></li>
    <ol class='level-2'>
    </ol>
<li><a href='{{ site.baseurl }}/docs/v0.3/5-forms.html'>Customizing the Form</a></li>
    <ol class='level-2'>
    </ol>
<li><a href='{{ site.baseurl }}/docs/v0.3/6-show-screens.html'>Customizing the Show Screen</a></li>
    <ol class='level-2'>
    </ol>
<li><a href='{{ site.baseurl }}/docs/v0.3/7-sidebars.html'>Sidebar Sections</a></li>
    <ol class='level-2'>
    </ol>
<li><a href='{{ site.baseurl }}/docs/v0.3/8-custom-actions.html'>Custom Controller Actions</a></li>
    <ol class='level-2'>
        <li><a href='{{ site.baseurl }}/docs/v0.3/8-custom-actions.html#collection-actions'>Collection Actions</a></li>
        <li><a href='{{ site.baseurl }}/docs/v0.3/8-custom-actions.html#member-actions'>Member Actions</a></li>
        <li><a href='{{ site.baseurl }}/docs/v0.3/8-custom-actions.html#controller-action-http-verb'>Controller Action HTTP Verb</a></li>
        <li><a href='{{ site.baseurl }}/docs/v0.3/8-custom-actions.html#rendering-in-custom-actions'>Rendering in Custom Actions</a></li>
        <li><a href='{{ site.baseurl }}/docs/v0.3/8-custom-actions.html#page-titles'>Page Titles</a></li>
        <li><a href='{{ site.baseurl }}/docs/v0.3/8-custom-actions.html#modify-the-controller'>Modify the Controller</a></li>
    </ol>
</ol>
