<h4>Version: v1.0 (latest)</h4>
<ol class='level-1'>
<li><a href='{{ site.baseurl }}/docs/v1.0/0-installation.html'>Installation</a></li>
    <ol class='level-2'>
        <li><a href='{{ site.baseurl }}/docs/v1.0/0-installation.html#setting-up-active-admin'>Setting up Active Admin</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/0-installation.html#upgrading'>Upgrading</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/0-installation.html#gem-compatibility'>Gem compatibility</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/0-installation.html#will_paginate'>will_paginate</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/0-installation.html#config/initializers/kaminari.rb'>config/initializers/kaminari.rb</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/0-installation.html#simple_form'>simple_form</a></li>
    </ol>
<li><a href='{{ site.baseurl }}/docs/v1.0/1-general-configuration.html'>General Configuration</a></li>
    <ol class='level-2'>
        <li><a href='{{ site.baseurl }}/docs/v1.0/1-general-configuration.html#authentication'>Authentication</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/1-general-configuration.html#site-title-options'>Site Title Options</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/1-general-configuration.html#internationalization-(i18n)'>Internationalization (I18n)</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/1-general-configuration.html#namespaces'>Namespaces</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/1-general-configuration.html#app/admin/posts.rb'>app/admin/posts.rb</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/1-general-configuration.html#load-paths'>Load paths</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/1-general-configuration.html#comments'>Comments</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/1-general-configuration.html#for-the-entire-application:'>For the entire application:</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/1-general-configuration.html#for-a-namespace:'>For a namespace:</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/1-general-configuration.html#for-a-given-resource:'>For a given resource:</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/1-general-configuration.html#utility-navigation'>Utility Navigation</a></li>
    </ol>
<li><a href='{{ site.baseurl }}/docs/v1.0/10-custom-pages.html'>Custom Pages</a></li>
    <ol class='level-2'>
        <li><a href='{{ site.baseurl }}/docs/v1.0/10-custom-pages.html#create-a-new-page'>Create a new Page</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/10-custom-pages.html#app/admin/calendar.rb'>app/admin/calendar.rb</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/10-custom-pages.html#app/admin/calendar.rb'>app/admin/calendar.rb</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/10-custom-pages.html#app/views/admin/calendar/_calendar.html.arb'>app/views/admin/calendar/_calendar.html.arb</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/10-custom-pages.html#customize-the-menu'>Customize the Menu</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/10-custom-pages.html#customize-the-namespace'>Customize the Namespace</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/10-custom-pages.html#available-at-/today/calendar'>Available at /today/calendar</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/10-custom-pages.html#available-at-/calendar'>Available at /calendar</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/10-custom-pages.html#add-a-sidebar'>Add a Sidebar</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/10-custom-pages.html#add-an-action-item'>Add an Action Item</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/10-custom-pages.html#add-a-page-action'>Add a Page Action</a></li>
    </ol>
<li><a href='{{ site.baseurl }}/docs/v1.0/11-decorators.html'>Decorators</a></li>
    <ol class='level-2'>
        <li><a href='{{ site.baseurl }}/docs/v1.0/11-decorators.html#example-usage'>Example usage</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/11-decorators.html#app/models/post.rb'>app/models/post.rb</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/11-decorators.html#app/decorators/post_decorator.rb'>app/decorators/post_decorator.rb</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/11-decorators.html#app/admin/post.rb'>app/admin/post.rb</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/11-decorators.html#forms'>Forms</a></li>
    </ol>
<li><a href='{{ site.baseurl }}/docs/v1.0/12-arbre-components.html'>Arbre Components</a></li>
    <ol class='level-2'>
        <li><a href='{{ site.baseurl }}/docs/v1.0/12-arbre-components.html#text-node'>Text Node</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/12-arbre-components.html#panels'>Panels</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/12-arbre-components.html#columns'>Columns</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/12-arbre-components.html#simple-columns'>Simple Columns</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/12-arbre-components.html#spanning-multiple-columns'>Spanning Multiple Columns</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/12-arbre-components.html#custom-column-widths'>Custom Column Widths</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/12-arbre-components.html#table-for'>Table For</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/12-arbre-components.html#status-tag'>Status tag</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/12-arbre-components.html#=>-<span-class='status_tag-in_progress'>in-progress</span>'>=> <span class='status_tag in_progress'>In Progress</span></a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/12-arbre-components.html#=>-<span-class='status_tag-active-ok'>active</span>'>=> <span class='status_tag active ok'>Active</span></a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/12-arbre-components.html#=>-<span-class='status_tag-active-ok-important'-id='status_123'>on</span>'>=> <span class='status_tag active ok important' id='status_123'>on</span></a></li>
    </ol>
<li><a href='{{ site.baseurl }}/docs/v1.0/13-authorization-adapter.html'>Authorization Adapter</a></li>
    <ol class='level-2'>
        <li><a href='{{ site.baseurl }}/docs/v1.0/13-authorization-adapter.html#setting-up-your-own-authorizationadapter'>Setting up your own AuthorizationAdapter</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/13-authorization-adapter.html#app/models/only_authors_authorization.rb'>app/models/only_authors_authorization.rb</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/13-authorization-adapter.html#getting-access-to-the-current-user'>Getting Access to the Current User</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/13-authorization-adapter.html#scoping-collections-in-authorization-adapters'>Scoping Collections in Authorization Adapters</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/13-authorization-adapter.html#managing-access-to-pages'>Managing Access to Pages</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/13-authorization-adapter.html#action-types'>Action Types</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/13-authorization-adapter.html#checking-for-authorization-in-controllers-and-views'>Checking for Authorization in Controllers and Views</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/13-authorization-adapter.html#using-the-cancan-adapter'>Using the CanCan Adapter</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/13-authorization-adapter.html#app/models/ability.rb'>app/models/ability.rb</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/13-authorization-adapter.html#using-the-pundit-adapter'>Using the Pundit Adapter</a></li>
    </ol>
<li><a href='{{ site.baseurl }}/docs/v1.0/14-gotchas.html'>Session Commits & Asset Pipeline</a></li>
    <ol class='level-2'>
        <li><a href='{{ site.baseurl }}/docs/v1.0/14-gotchas.html#helpers'>Helpers</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/14-gotchas.html#helpers-are-not-reloading-in-development'>Helpers are not reloading in development</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/14-gotchas.html#helper-maybe-not-included-by-default'>Helper maybe not included by default</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/14-gotchas.html#solutions'>Solutions</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/14-gotchas.html#first-use-a-monkey-patch'>First use a monkey patch</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/14-gotchas.html#config/initializers/active_admin_helpers.rb'>config/initializers/active_admin_helpers.rb</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/14-gotchas.html#second-use-the-`controller`-method'>Second use the `controller` method</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/14-gotchas.html#css'>CSS</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/14-gotchas.html#conflicts'>Conflicts</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/14-gotchas.html#with-gems-that-provides-a-`search`-class-method-on-a-model'>With gems that provides a `search` class method on a model</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/14-gotchas.html#`tire`,-`retire`-and-`elasticsearch-rails`'>`tire`, `retire` and `elasticsearch-rails`</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/14-gotchas.html#for-`tire`-and-`retire`'>For `tire` and `retire`</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/14-gotchas.html#for-`elasticsearch-rails`'>For `elasticsearch-rails`</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/14-gotchas.html#sunspot-solr'>Sunspot Solr</a></li>
    </ol>
<li><a href='{{ site.baseurl }}/docs/v1.0/2-resource-customization.html'>Working with Resources</a></li>
    <ol class='level-2'>
        <li><a href='{{ site.baseurl }}/docs/v1.0/2-resource-customization.html#create-a-resource'>Create a Resource</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/2-resource-customization.html#setting-up-strong-parameters'>Setting up Strong Parameters</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/2-resource-customization.html#note-that-`accepts_nested_attributes_for`-is-still-required:'>Note that `accepts_nested_attributes_for` is still required:</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/2-resource-customization.html#disabling-actions-on-a-resource'>Disabling Actions on a Resource</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/2-resource-customization.html#rename-the-resource'>Rename the Resource</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/2-resource-customization.html#customize-the-namespace'>Customize the Namespace</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/2-resource-customization.html#available-at-/today/posts'>Available at /today/posts</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/2-resource-customization.html#available-at-/posts'>Available at /posts</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/2-resource-customization.html#customize-the-menu'>Customize the Menu</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/2-resource-customization.html#labels'>Labels</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/2-resource-customization.html#menu-priority'>Menu Priority</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/2-resource-customization.html#conditionally-showing-/-hiding-menu-items'>Conditionally Showing / Hiding Menu Items</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/2-resource-customization.html#drop-down-menus'>Drop Down Menus</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/2-resource-customization.html#customizing-parent-menu-items'>Customizing Parent Menu Items</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/2-resource-customization.html#config/initializers/active_admin.rb'>config/initializers/active_admin.rb</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/2-resource-customization.html#app/admin/post.rb'>app/admin/post.rb</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/2-resource-customization.html#dynamic-parent-menu-items'>Dynamic Parent Menu Items</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/2-resource-customization.html#config/initializers/active_admin.rb'>config/initializers/active_admin.rb</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/2-resource-customization.html#app/admin/post.rb'>app/admin/post.rb</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/2-resource-customization.html#adding-custom-menu-items'>Adding Custom Menu Items</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/2-resource-customization.html#config/initializers/active_admin.rb'>config/initializers/active_admin.rb</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/2-resource-customization.html#scoping-the-queries'>Scoping the queries</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/2-resource-customization.html#eager-loading'>Eager loading</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/2-resource-customization.html#customizing-resource-retrieval'>Customizing resource retrieval</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/2-resource-customization.html#belongs-to'>Belongs To</a></li>
    </ol>
<li><a href='{{ site.baseurl }}/docs/v1.0/3-index-pages.html'>Customizing the Index Page</a></li>
    <ol class='level-2'>
        <li><a href='{{ site.baseurl }}/docs/v1.0/3-index-pages.html#multiple-index-pages'>Multiple Index Pages</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/3-index-pages.html#custom-index'>Custom Index</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/3-index-pages.html#index-filters'>Index Filters</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/3-index-pages.html#index-scopes'>Index Scopes</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/3-index-pages.html#assumes-the-model-has-a-scope-called-':active''>assumes the model has a scope called ':active'</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/3-index-pages.html#renames-model-scope-':leaves'-to-':subcategories''>renames model scope ':leaves' to ':subcategories'</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/3-index-pages.html#dynamic-scope-name'>Dynamic scope name</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/3-index-pages.html#custom-scope-not-defined-on-the-model'>custom scope not defined on the model</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/3-index-pages.html#conditionally-show-a-custom-controller-scope'>conditionally show a custom controller scope</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/3-index-pages.html#index-default-sort-order'>Index default sort order</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/3-index-pages.html#index-pagination'>Index pagination</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/3-index-pages.html#customizing-download-links'>Customizing Download Links</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/3-index-pages.html#per-resource:'>Per resource:</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/3-index-pages.html#for-the-entire-application:'>For the entire application:</a></li>
    </ol>
<li><a href='{{ site.baseurl }}/docs/v1.0/4-csv-format.html'>Customizing the CSV format</a></li>
    <ol class='level-2'>
        <li><a href='{{ site.baseurl }}/docs/v1.0/4-csv-format.html#config/initializers/active_admin.rb'>config/initializers/active_admin.rb</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/4-csv-format.html#set-the-csv-builder-separator'>Set the CSV builder separator</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/4-csv-format.html#force-the-use-of-quotes'>Force the use of quotes</a></li>
    </ol>
<li><a href='{{ site.baseurl }}/docs/v1.0/5-forms.html'>Forms</a></li>
    <ol class='level-2'>
        <li><a href='{{ site.baseurl }}/docs/v1.0/5-forms.html#default'>Default</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/5-forms.html#partials'>Partials</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/5-forms.html#app/views/admin/posts/_form.html.arb'>app/views/admin/posts/_form.html.arb</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/5-forms.html#nested-resources'>Nested Resources</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/5-forms.html#datepicker'>Datepicker</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/5-forms.html#displaying-errors'>Displaying Errors</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/5-forms.html#tabs'>Tabs</a></li>
    </ol>
<li><a href='{{ site.baseurl }}/docs/v1.0/6-show-pages.html'>Customize the Show Page</a></li>
    <ol class='level-2'>
        <li><a href='{{ site.baseurl }}/docs/v1.0/6-show-pages.html#tabs'>Tabs</a></li>
    </ol>
<li><a href='{{ site.baseurl }}/docs/v1.0/7-sidebars.html'>Sidebar Sections</a></li>
    <ol class='level-2'>
    </ol>
<li><a href='{{ site.baseurl }}/docs/v1.0/8-custom-actions.html'>Custom Controller Actions</a></li>
    <ol class='level-2'>
        <li><a href='{{ site.baseurl }}/docs/v1.0/8-custom-actions.html#collection-actions'>Collection Actions</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/8-custom-actions.html#member-actions'>Member Actions</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/8-custom-actions.html#http-verbs'>HTTP Verbs</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/8-custom-actions.html#rendering'>Rendering</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/8-custom-actions.html#page-titles'>Page Titles</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/8-custom-actions.html#action-items'>Action Items</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/8-custom-actions.html#modifying-the-controller'>Modifying the Controller</a></li>
    </ol>
<li><a href='{{ site.baseurl }}/docs/v1.0/9-batch-actions.html'>Batch Actions</a></li>
    <ol class='level-2'>
        <li><a href='{{ site.baseurl }}/docs/v1.0/9-batch-actions.html#creating-your-own'>Creating your own</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/9-batch-actions.html#disabling-batch-actions'>Disabling Batch Actions</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/9-batch-actions.html#config/initializers/active_admin.rb'>config/initializers/active_admin.rb</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/9-batch-actions.html#app/admin/post.rb'>app/admin/post.rb</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/9-batch-actions.html#modification'>Modification</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/9-batch-actions.html#removal'>Removal</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/9-batch-actions.html#conditional-display'>Conditional display</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/9-batch-actions.html#priority-in-the-drop-down-menu'>Priority in the drop-down menu</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/9-batch-actions.html#confirmation-prompt'>Confirmation prompt</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/9-batch-actions.html#batch-action-forms'>Batch Action forms</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/9-batch-actions.html#note:-multi-pluck-is-new-to-rails-4'>NOTE: multi-pluck is new to Rails 4</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/9-batch-actions.html#translation'>Translation</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/9-batch-actions.html#config/locales/en.yml'>config/locales/en.yml</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/9-batch-actions.html#support-for-other-index-types'>Support for other index types</a></li>
        <li><a href='{{ site.baseurl }}/docs/v1.0/9-batch-actions.html#btw'>BTW</a></li>
    </ol>
<li><a href='{{ site.baseurl }}/docs/v1.0/README.html'>ActiveAdmin Documentation</a></li>
    <ol class='level-2'>
        <li><a href='{{ site.baseurl }}/docs/v1.0/README.html#content'>Content</a></li>
    </ol>
</ol>
