<h4>Version: v0.6</h4>
<ol class='level-1'>
<li><a href='{{ site.baseurl }}/docs/v0.6/0-installation.html'>Install</a></li>
    <ol class='level-2'>
        <li><a href='{{ site.baseurl }}/docs/v0.6/0-installation.html#gemfile'>Gemfile</a></li>
        <li><a href='{{ site.baseurl }}/docs/v0.6/0-installation.html#initialize-active-admin'>Initialize Active Admin</a></li>
        <li><a href='{{ site.baseurl }}/docs/v0.6/0-installation.html#register-your-models-with-active-admin'>Register your models with Active Admin</a></li>
        <li><a href='{{ site.baseurl }}/docs/v0.6/0-installation.html#upgrade'>Upgrade</a></li>
        <li><a href='{{ site.baseurl }}/docs/v0.6/0-installation.html#gem-compatibility'>Gem compatibility</a></li>
        <li><a href='{{ site.baseurl }}/docs/v0.6/0-installation.html#will_paginate-compatibility'>will_paginate compatibility</a></li>
    </ol>
<li><a href='{{ site.baseurl }}/docs/v0.6/1-general-configuration.html'>General Configuration</a></li>
    <ol class='level-2'>
        <li><a href='{{ site.baseurl }}/docs/v0.6/1-general-configuration.html#authentication'>Authentication</a></li>
        <li><a href='{{ site.baseurl }}/docs/v0.6/1-general-configuration.html#site-title-options'>Site Title Options</a></li>
        <li><a href='{{ site.baseurl }}/docs/v0.6/1-general-configuration.html#internationalization-(i18n)'>Internationalization (I18n)</a></li>
        <li><a href='{{ site.baseurl }}/docs/v0.6/1-general-configuration.html#namespaces'>Namespaces</a></li>
        <li><a href='{{ site.baseurl }}/docs/v0.6/1-general-configuration.html#load-paths'>Load paths</a></li>
        <li><a href='{{ site.baseurl }}/docs/v0.6/1-general-configuration.html#comments'>Comments</a></li>
        <li><a href='{{ site.baseurl }}/docs/v0.6/1-general-configuration.html#utility-navigation'>Utility Navigation</a></li>
    </ol>
<li><a href='{{ site.baseurl }}/docs/v0.6/10-custom-pages.html'>Custom Pages</a></li>
    <ol class='level-2'>
        <li><a href='{{ site.baseurl }}/docs/v0.6/10-custom-pages.html#available-features'>Available Features</a></li>
        <li><a href='{{ site.baseurl }}/docs/v0.6/10-custom-pages.html#create-a-new-page'>Create a new Page</a></li>
        <li><a href='{{ site.baseurl }}/docs/v0.6/10-custom-pages.html#page-title-&-i18n'>Page Title & I18n</a></li>
        <li><a href='{{ site.baseurl }}/docs/v0.6/10-custom-pages.html#customize-the-menu'>Customize the Menu</a></li>
        <li><a href='{{ site.baseurl }}/docs/v0.6/10-custom-pages.html#add-a-sidebar-section'>Add a Sidebar Section</a></li>
        <li><a href='{{ site.baseurl }}/docs/v0.6/10-custom-pages.html#add-an-action-item'>Add an Action Item</a></li>
        <li><a href='{{ site.baseurl }}/docs/v0.6/10-custom-pages.html#add-a-page-action'>Add a Page Action</a></li>
    </ol>
<li><a href='{{ site.baseurl }}/docs/v0.6/11-decorators.html'>Decorators</a></li>
    <ol class='level-2'>
        <li><a href='{{ site.baseurl }}/docs/v0.6/11-decorators.html#configuration'>Configuration</a></li>
        <li><a href='{{ site.baseurl }}/docs/v0.6/11-decorators.html#example-usage'>Example Usage</a></li>
        <li><a href='{{ site.baseurl }}/docs/v0.6/11-decorators.html#forms'>Forms</a></li>
    </ol>
<li><a href='{{ site.baseurl }}/docs/v0.6/12-arbre-components.html'>Arbre Components</a></li>
    <ol class='level-2'>
        <li><a href='{{ site.baseurl }}/docs/v0.6/12-arbre-components.html#text-node'>Text Node</a></li>
        <li><a href='{{ site.baseurl }}/docs/v0.6/12-arbre-components.html#panels'>Panels</a></li>
        <li><a href='{{ site.baseurl }}/docs/v0.6/12-arbre-components.html#columns'>Columns</a></li>
        <li><a href='{{ site.baseurl }}/docs/v0.6/12-arbre-components.html#simple-columns'>Simple Columns</a></li>
        <li><a href='{{ site.baseurl }}/docs/v0.6/12-arbre-components.html#spannig-multiple-columns'>Spannig Multiple Columns</a></li>
        <li><a href='{{ site.baseurl }}/docs/v0.6/12-arbre-components.html#custom-column-widths'>Custom Column Widths</a></li>
        <li><a href='{{ site.baseurl }}/docs/v0.6/12-arbre-components.html#table-for'>Table For</a></li>
        <li><a href='{{ site.baseurl }}/docs/v0.6/12-arbre-components.html#status-tag'>Status tag</a></li>
    </ol>
<li><a href='{{ site.baseurl }}/docs/v0.6/13-authorization-adapter.html'>Authorization Adapter</a></li>
    <ol class='level-2'>
        <li><a href='{{ site.baseurl }}/docs/v0.6/13-authorization-adapter.html#setting-up-your-own-authorizationadapter'>Setting up your own AuthorizationAdapter</a></li>
        <li><a href='{{ site.baseurl }}/docs/v0.6/13-authorization-adapter.html#getting-access-to-the-current-user'>Getting Access to the Current User</a></li>
        <li><a href='{{ site.baseurl }}/docs/v0.6/13-authorization-adapter.html#scoping-collections-in-authorization-adapters'>Scoping Collections in Authorization Adapters</a></li>
        <li><a href='{{ site.baseurl }}/docs/v0.6/13-authorization-adapter.html#managing-access-to-pages'>Managing Access to Pages</a></li>
        <li><a href='{{ site.baseurl }}/docs/v0.6/13-authorization-adapter.html#action-types'>Action Types</a></li>
        <li><a href='{{ site.baseurl }}/docs/v0.6/13-authorization-adapter.html#checking-for-authorization-in-controllers-and-views'>Checking for Authorization in Controllers and Views</a></li>
        <li><a href='{{ site.baseurl }}/docs/v0.6/13-authorization-adapter.html#using-the-cancan-adapter'>Using the CanCan Adapter</a></li>
    </ol>
<li><a href='{{ site.baseurl }}/docs/v0.6/2-resource-customization.html'>Customize The Resource</a></li>
    <ol class='level-2'>
        <li><a href='{{ site.baseurl }}/docs/v0.6/2-resource-customization.html#rename-the-resource'>Rename the Resource</a></li>
        <li><a href='{{ site.baseurl }}/docs/v0.6/2-resource-customization.html#customize-the-namespace'>Customize the Namespace</a></li>
        <li><a href='{{ site.baseurl }}/docs/v0.6/2-resource-customization.html#customize-the-menu'>Customize the Menu</a></li>
        <li><a href='{{ site.baseurl }}/docs/v0.6/2-resource-customization.html#labels'>Labels</a></li>
        <li><a href='{{ site.baseurl }}/docs/v0.6/2-resource-customization.html#menu-priority'>Menu Priority</a></li>
        <li><a href='{{ site.baseurl }}/docs/v0.6/2-resource-customization.html#conditionally-showing-/-hiding-menu-items'>Conditionally Showing / Hiding Menu Items</a></li>
        <li><a href='{{ site.baseurl }}/docs/v0.6/2-resource-customization.html#drop-down-menus'>Drop Down Menus</a></li>
        <li><a href='{{ site.baseurl }}/docs/v0.6/2-resource-customization.html#customizing-parent-menu-items'>Customizing Parent Menu Items</a></li>
        <li><a href='{{ site.baseurl }}/docs/v0.6/2-resource-customization.html#adding-custom-menu-items'>Adding Custom Menu Items</a></li>
        <li><a href='{{ site.baseurl }}/docs/v0.6/2-resource-customization.html#scoping-the-queries'>Scoping the queries</a></li>
        <li><a href='{{ site.baseurl }}/docs/v0.6/2-resource-customization.html#customizing-resource-retrieval'>Customizing resource retrieval</a></li>
        <li><a href='{{ site.baseurl }}/docs/v0.6/2-resource-customization.html#belongs-to'>Belongs To</a></li>
    </ol>
<li><a href='{{ site.baseurl }}/docs/v0.6/3-index-pages.html'>Customizing the Index Page</a></li>
    <ol class='level-2'>
        <li><a href='{{ site.baseurl }}/docs/v0.6/3-index-pages.html#multiple-index-pages'>Multiple Index Pages</a></li>
        <li><a href='{{ site.baseurl }}/docs/v0.6/3-index-pages.html#index-filters'>Index Filters</a></li>
        <li><a href='{{ site.baseurl }}/docs/v0.6/3-index-pages.html#index-default-sort-order'>Index default sort order</a></li>
        <li><a href='{{ site.baseurl }}/docs/v0.6/3-index-pages.html#index-pagination'>Index pagination</a></li>
        <li><a href='{{ site.baseurl }}/docs/v0.6/3-index-pages.html#disable-csv,-xml-and-json-export'>Disable CSV, XML and JSON export</a></li>
        <li><a href='{{ site.baseurl }}/docs/v0.6/3-index-pages.html#customizing-download-links'>Customizing Download Links</a></li>
    </ol>
<li><a href='{{ site.baseurl }}/docs/v0.6/4-csv-format.html'>Customizing the CSV format</a></li>
    <ol class='level-2'>
    </ol>
<li><a href='{{ site.baseurl }}/docs/v0.6/5-forms.html'>Customizing the Form</a></li>
    <ol class='level-2'>
        <li><a href='{{ site.baseurl }}/docs/v0.6/5-forms.html#nested-resources'>Nested Resources</a></li>
        <li><a href='{{ site.baseurl }}/docs/v0.6/5-forms.html#displaying-errors'>Displaying Errors</a></li>
    </ol>
<li><a href='{{ site.baseurl }}/docs/v0.6/6-show-pages.html'>Customize the Show Page</a></li>
    <ol class='level-2'>
    </ol>
<li><a href='{{ site.baseurl }}/docs/v0.6/7-sidebars.html'>Sidebar Sections</a></li>
    <ol class='level-2'>
    </ol>
<li><a href='{{ site.baseurl }}/docs/v0.6/8-custom-actions.html'>Custom Controller Actions</a></li>
    <ol class='level-2'>
        <li><a href='{{ site.baseurl }}/docs/v0.6/8-custom-actions.html#collection-actions'>Collection Actions</a></li>
        <li><a href='{{ site.baseurl }}/docs/v0.6/8-custom-actions.html#member-actions'>Member Actions</a></li>
        <li><a href='{{ site.baseurl }}/docs/v0.6/8-custom-actions.html#controller-action-http-verb'>Controller Action HTTP Verb</a></li>
        <li><a href='{{ site.baseurl }}/docs/v0.6/8-custom-actions.html#rendering-in-custom-actions'>Rendering in Custom Actions</a></li>
        <li><a href='{{ site.baseurl }}/docs/v0.6/8-custom-actions.html#custom-action-items'>Custom Action Items</a></li>
        <li><a href='{{ site.baseurl }}/docs/v0.6/8-custom-actions.html#page-titles'>Page Titles</a></li>
        <li><a href='{{ site.baseurl }}/docs/v0.6/8-custom-actions.html#modify-the-controller'>Modify the Controller</a></li>
    </ol>
<li><a href='{{ site.baseurl }}/docs/v0.6/9-batch-actions.html'>Index Batch Actions</a></li>
    <ol class='level-2'>
        <li><a href='{{ site.baseurl }}/docs/v0.6/9-batch-actions.html#provided-batch-action'>Provided Batch Action</a></li>
        <li><a href='{{ site.baseurl }}/docs/v0.6/9-batch-actions.html#creating-your-own-batch-actions'>Creating Your Own Batch Actions</a></li>
        <li><a href='{{ site.baseurl }}/docs/v0.6/9-batch-actions.html#disabling-batch-actions'>Disabling Batch Actions</a></li>
        <li><a href='{{ site.baseurl }}/docs/v0.6/9-batch-actions.html#modifying-a-previously-registered-batch-action'>Modifying a Previously Registered Batch Action</a></li>
        <li><a href='{{ site.baseurl }}/docs/v0.6/9-batch-actions.html#removing-a-batch-action'>Removing a Batch Action</a></li>
        <li><a href='{{ site.baseurl }}/docs/v0.6/9-batch-actions.html#conditional-display-of-batch-action'>Conditional Display of Batch Action</a></li>
        <li><a href='{{ site.baseurl }}/docs/v0.6/9-batch-actions.html#batch-action-priority-in-menu'>Batch Action Priority in Menu</a></li>
        <li><a href='{{ site.baseurl }}/docs/v0.6/9-batch-actions.html#batch-action-i18n-of-labels'>Batch Action I18n of Labels</a></li>
        <li><a href='{{ site.baseurl }}/docs/v0.6/9-batch-actions.html#batch-action-confirmation'>Batch Action Confirmation</a></li>
        <li><a href='{{ site.baseurl }}/docs/v0.6/9-batch-actions.html#customizing-table-columns'>Customizing Table Columns</a></li>
        <li><a href='{{ site.baseurl }}/docs/v0.6/9-batch-actions.html#support-for-other-index-types'>Support for Other Index Types</a></li>
        <li><a href='{{ site.baseurl }}/docs/v0.6/9-batch-actions.html#batch-actions-and-custom-actions-'>Batch Actions and Custom Actions </a></li>
    </ol>
</ol>
